<%= simple_form_for [game, @score] do |f| %>
  <% if @score.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @score.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :player_id, collection: [game.win] %>
  <%= f.submit 'NEW SCORE', class: 'btn btn-primary' %>
<% end %>
