<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">

    <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= image_tag "favicon.png" %>
      <% end %>
    </div>

    <div class="navbar-brand">
      <p>Rentoo</p>
    </div>
  </div>
  <div class="navbar-right">
    <div class="navbar-games">
      <%= link_to "ALL GAMES", games_path, class: 'navbar-link' %>
    </div>| &nbsp &nbsp
    <div class="navbar-players">
      <%= link_to "ALL PLAYERS", players_path, class: 'navbar-link' %>
    </div>
  </div>
</div>
