<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">
    <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= image_tag "favicon.png" %>
      <% end %>
    </div>
    <div class="navbar-brand">
      <p>Rentoo</p>
    </div>
</div>
